html,
body,
section {
	block-size: 100%;
}

html {
	scroll-snap-type: y mandatory;
}

section {
	scroll-snap-align: start;
	scroll-snap-stop: always;

	display: flex;
	align-items: center;
	justify-content: center;
}

section:nth-of-type(even) {
	color: #fff;
	background: #000;
}

section:nth-of-type(odd) {
	color: #000;
	background: #fff;
}

body {
	margin: 0;
	font-family: system-ui, sans-serif;
	font-size: 4rem;
}
